@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald&family=Source+Sans+Pro:wght@400;600&display=swap');

.about__us {
    background-color: rgb(31, 30, 30);
    display: flex;
    justify-content: left;
    height: 630px;
}

.about-us__basic {
    color: white;
    font-size: 50px;
    padding: 100px 100px 0 100px;
    font-family: 'Bebas Neue', cursive;
}

hr {
    width: 100px;
    margin-top: 10px;
    color: red;
}

.information__about-us {
    color: white;
    padding: 0 30px 0 30px;
}

.about__point {
    color: red;
}

.about-us__image {
    height: auto;
    width: 630px;
    max-width: 100%;
}

.about-us__text {
    text-align: left;
}

.basic__description {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 80px;
    width: 40vw;
    padding: 20px 70px 20px 70px;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 80px;
    width: 40vw;
    padding: 50px 70px 50px 70px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2;
}

.description_final {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 80px;
    width: 40vw;
    padding: 50px 70px 50px 70px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2;
}

/*тут :) */
.information__about-us {
    margin-top: 1em;
    margin-bottom: 2em;
}

.about-us__social-icons-list {
    display: flex;
    padding: 30px 90px;
}

.facebook {
    padding: 0 10px 0 10px;
}

.instagram {
    padding: 0 10px 0 10px;
}

.youtube {
    padding: 0 10px 0 10px;
}