@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald&family=Source+Sans+Pro:wght@400;600&display=swap');

.about__us {
    background-color: rgb(31, 30, 30);
    display: flex;
    height: 100%;
}

.about-us__basic {
    color: white;
    font-size: 50px;
    padding: 100px 100px 0 100px;
    font-family: 'Bebas Neue', cursive;
}


.information__about-us {
    color: white;
    padding: 0 30px 0 30px;
    margin-top: 1em;
    margin-bottom: 2em;
}

.about__point {
    color: red;
}

.about-us__image {
    height: auto;
    width: 50%;
    max-width: 100%;
    background-image: url(../img/about-us.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-us__text {
    text-align: left;
}

.about-divider-component {
    margin-left: 100px;
    height: 2px;
    width: 85px;
    background-color: red;
}


.basic__description {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 700px;
    padding: 20px 70px 0 70px;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 700px;
    padding: 50px 70px 10px 70px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2;
    font-size: 16px;
}

.description_final {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 700px;
    padding: 50px 70px 0 70px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2;
    font-size: 16px;
}

.about-us__social-icons-list {
    display: flex;
    padding: 0 90px 50px 90px;
}

.facebook {
    padding: 20px 10px 0 10px;
}

.instagram {
    padding: 20px 10px 0 10px;
}

.youtube {
    padding: 20px 10px 0 10px;
}

.facebook path {
    transition: all .3s;
}

.facebook:hover path.outer_bDW {
    fill: #f40106;
}

.facebook:hover path.logo_2gS {
    fill: #222323;
}

.instagram path {
    transition: all .3s;
}

.instagram:hover path.outer_bDW {
    fill: #f40106;
}

.instagram:hover path.logo_2gS {
    fill: #222323;
}

.youtube path {
    transition: all .3s;
}

.youtube:hover path.outer_bDW {
    fill: #f40106;
}

.youtube:hover path.logo_2gS {
    fill: black;
}

@media (max-width:736px) {
    .about-us__image {
        background-image: url(../img/about-us.jpg);
        width: 100%;
        height: 730px;
    }

    .about__us {
        display: block;
        width: 100%;
    }

    .about-us__text {
        width: 100%;
        justify-items: center;
    }
}

@media (max-width:320px) {
    .basic__description {
        width: 300px;
        font-size: 10px;
    }
    .description {
        width: 300px;
        font-size: 6px;
    }
    .description_final {
        width: 300px;
        font-size: 6px;
    }
}