.divider-component {
  margin: 0 auto;
  height: 2px;
  width: 8%;
  background-color: var(--paragraph-text-color-accent-light);
}
.blog-title {
  color: var(--main-text-color);
  font-size: 38px;
  line-height: 43px;
  text-align: center;
}
.blog-subtitle {
  color: var(--paragraph-text-color);
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.red-dot {
  color: var(--alternate-text-color);
}
.blog-content {
  color: var(--main-text-color);
  font-size: 24px;
  text-align: center;
  border: 1px solid rgba(33, 39, 54, 0.12);
  display: flex;
  height: 450px;
  max-width: 1000px;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 32;
  align-items: center;
  margin: 0 auto;
}
.carousel__brands {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.carousel__brands-item {
  border: 1px solid rgba(33, 39, 54, 0.12);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
