.divider-component {
  margin: 0 auto;
  height: 2px;
  width: 8%;
  background-color: var(--paragraph-text-color-accent-light);
}
.blog-title {
  color: var(--main-text-color);
  padding-bottom: 13px;
  font-size: 52px;
  line-height: 59px;
  font-weight: 400;
  text-align: center;
}

.blog-subtitle {
  color: var(--paragraph-text-color);
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.red-dot {
  color: var(--alternate-text-color);
}
.blog-content {
  color: var(--main-text-color);
  font-size: 24px;
  text-align: center;
  border: 1px solid rgba(33, 39, 54, 0.12);
  display: flex;
  height: 450px;
  max-width: 1000px;
  justify-content: center;
  font-size: 26px;
  font-weight: 600;
  line-height: 32;
  align-items: center;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
}

#blog {
  margin-top: 5px;
}
.brands-carousel {
  display: flex;
  justify-content: center;
  min-width: 320px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
.brands-carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid rgba(33, 39, 54, 0.12);
  padding: 20px 20px;
  margin: 20px 20px;

  max-width: 488px;
  max-height: 266px;
}
.brands-carousel__img {
}
.brands-carousel-prev {
  transform: rotate(180deg);
  padding: 5px;
  position: absolute;
  top: 45%;
  left: 25px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 0px;
  background-color: rgb(187, 187, 187);
  cursor: pointer;
}
.brands-carousel-next {
  position: absolute;
  top: 45%;
  right: 30px;
  border-radius: 50%;
  width: 28px;
  height: 29px;
  border: 0px;
  padding: 5px;
  background-color: rgb(187, 187, 187);
  cursor: pointer;
}
.brands-carousel__btn-prev {
  width: 12px;
  height: 12px;
}
.brands-carousel__btn-next {
  width: 12px;
  height: 12px;
}

@media (min-width: 768px) {
  .brands-carousel-container {
    justify-content: space-around;
  }
  .slide {
    display: flex;
    align-items: center;
    width: auto;
    padding: 20px;
    margin: 100px 20px;
    min-width: 300px;
    min-height: 170px;
  }
  .brands-carousel__img {
    max-width: 200px;
    height: 50%;
  }
}

@media (min-width: 990px) {
  .slide {
    min-height: 178px;
    min-width: 170px;
  }
  .brands-carousel-prev {
    left: 20px;
  }
  .brands-carousel-next {
    right: 20px;
  }
}

@media (min-width: 1200px) {
  .slide {
    min-height: 160px;
    min-width: 260px;
  }
  .brands-carousel-prev {
    padding: 5px;
    left: 20px;
    background-color: #a594943b;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  .brands-carousel-next {
    padding: 5px;

    right: 20px;
    background-color: #a594943b;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .brands-carousel-next:hover {
    background-color: transparent;
  }
  .brands-carousel-prev:hover {
    background-color: transparent;
  }
}
