.collection-container {
  max-width: 1200px;
  padding: 0 15px;
  margin-top: 90px;
  margin-right: auto;
  margin-bottom: 120px;
  margin-left: auto;
}

.collection-title {
  padding-bottom: 15px;
  font-size: 52px;
  line-height: 59px;
  font-weight: 400;
  color: var(--main-text-color);
  text-align: center;
}

.collection-title-point {
  color: var(--alternate-text-color);
  line-height: 0;
}

.collection-divider-line {
  height: 2px;
  width: 8%;
  background-color: var(--paragraph-text-color-accent-light);
  margin: auto;
}

.collection-text {
  padding-top: 15px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: var(--paragraph-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.collection-tab-box {
  margin: 0 auto;
}

.collection-tab {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--paragraph-text-color-accent-light);
  margin-bottom: 30px;
}

.collection-tablinks {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 15px 20px;
  transition: 0.5s;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: var(--paragraph-text-color-accent-light);
}

.collection-tablinks:hover {
  color: var(--paragraph-text-color);
}

.collection-tablinks--active {
  color: var(--paragraph-text-color);
  border-bottom: 2px solid var(--alternate-text-color);
}

.collection-card-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.collection-card-link {
  text-decoration: none;
  border: 0;
  outline: none;
  display: flex;
  flex-direction: column;
}

.collection-card-img {
  max-width: 100%;
  display: block;
}

.collection-card-title {
  margin-top: 24px;
  transition: 0, 5s;
  cursor: pointer;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: var(--paragraph-text-color);
}

.collection-card-title:hover {
  text-decoration: underline;
}

.collection-card-price {
  margin-bottom: 24px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: var(--alternate-text-color);
}

.collection-card-btn {
  width: 125px;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  background-color: var(--main-text-color);
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  color: var(--alternate-p-text-color);
}

.collection-card-btn:hover {
  background-color: var(--alternate-text-color);
}

@media (max-width: 1279px) {
  .collection-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 991px) {
  .collection-container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .collection-title {
    font-size: 45px;
    line-height: 51px;
  }

  .collection-card-box {
    max-width: 991px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
  }

  .collection-card {
    max-width: 48%;
  }
}

@media (max-width: 832px) {
  .collection-card {
    max-width: 47%;
  }
}

@media (max-width: 767px) {
  .collection-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .collection-title {
    font-size: 38px;
    line-height: 43px;
  }

  .collection-tab {
    justify-content: flex-start;
  }

  .collection-card-box {
    display: block;
  }

  .collection-card {
    max-width: 100%;
  }

  .collection-card-img {
    width: 100%;
  }

  .collection-card-title {
    margin-top: 8px;
  }

  .collection-card-btn {
    margin-bottom: 24px;
  }
}