@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root { 
    font-family: Bebas Neue, cursive;
}

    .fitness-collection {
        background-image: url(../img/background_new_fitness_collection.jpg);
        background-position: top center;
        background-position: no repeat;
        background-size: cover;
        max-width: 100%;
        height: auto;
        padding-top: 200px;
        padding-bottom: 210px;
    }

    .fitness-container {
        max-width: 1200px;
        padding-left: 15px;
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }  

    .heading-subtitle {
        font-family: Bebas Neue, cursive;
        color: #717474;
        font-size: 23px;
        font-stretch: 100%;
        display: flex;
        font-weight: 400;
        letter-spacing: normal;
        list-style: 31.28px;
    }
    
    .heading-section-title {
        font-family: Bebas Neue, cursive;
        color: #222323;
        font-size: 93px;
        font-stretch: 100%;
        font-weight: 400;
        letter-spacing: normal;
        border-image-repeat: stretch;
        display: flex;
        flex-direction: column;
        justify-content: left;
        font-weight: 400;
        text-align: left;
        line-height: 93px;
        vertical-align: baseline;
        list-style: 31.28px;
        margin-bottom:100px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }

    .heading-title-collection {
        color: var(--alternate-text-color);
    }

    .video-button {
        color: #fff;
        box-sizing: border-box;
        height: 100px;
        max-height: 100%;
        max-width: 100%;
        margin-left: 950px;
    }

    .shopping__link-btn {
        font-family: Arial;
        font-weight: bold;
        margin-top: 80px;
        margin-left: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-width: 2px;
        background-color: var(--alternate-text-color);
        width: 164px;
        height: 58px;
    }
    
    .shopping__link-btn:hover {
        box-shadow: inset 164px 0 0 0 var(--main-text-color);
        transition: box-shadow .5s ease-in-out;
    }
    
    .shopping__link-btn>a {
        font-size: 1rem;
        text-decoration: none;
        color: var(--alternate-p-text-color);
        padding-left: 0;
        padding-right: 32px;
        margin-left: 20px;
    }
    
    .shopping__link-btn>a:hover {
        font-size: 1.2rem;
        transition: font-size .3s ease-in-out;
    }