.header {
    background: url(../img/background_header.jpg) 38%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 68px;
}

.container {
    width: 100%;
}

.header__upperline {
    display: none;
    padding-top: 8px;
    padding-bottom: 8px;
    max-width: 100%;
}

@media (min-width: 970px) {
    .header__upperline {
        display: block;
        padding: 0 40px;
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 0.87rem;
        background-color: var(--uperline-background-color);
        color: var(--alternate-p-text-color);
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        min-height: 48px;
        align-items: center;
        width: calc(100% + 20px);
    }
}

.header__upperline-contacts {
    justify-content: flex-end;
}

.header__upperline-contacts-link {
    text-decoration: none;
    color: var(--alternate-p-text-color);
    margin-left: 12px;
}

.header__upperline-contacts-link:hover {
    text-decoration: underline;
}

@media (min-width:320px) and (max-width:992px) {
    .navigation-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        padding: 12px;
        cursor: pointer;
        z-index: 5;
    }

    .navigation-burger span,
    .navigation-burger::before,
    .navigation-burger::after {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: var(--alternate-p-text-color);
        transition: all 0.5s ease-in-out;
    }

    .navigation-burger::before,
    .navigation-burger::after {
        content: " ";
    }

    .navigation-burger::before {
        top: 0;
    }

    .navigation-burger::after {
        bottom: 0;
    }
}

.navigation-wrapper.active {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-text-color);
    z-index: 2;
    padding: 15px 24px 50px 24px;
    overflow: hidden;
    margin: auto;
}

.header__menu {
    position: relative;
    font-size: 0.9rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    z-index: 10;
    height: auto;
}


*/ .header__nav {
    background-color: var(--main-text-color);
}

.header__nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (min-width: 992px) {
    .header__nav {
        padding: 0 40px;
    }
}

.header__logo-container {
    width: 168px;
    display: flex;
    justify-content: space-around;
    z-index: 10;
}

#logo {
    width: 168px;
}

.header__menu,
.header__social-icons {
    display: none;
}

@media (min-width: 992px) {
    .header__menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .header__menu-link {
        text-decoration: none;
        color: var(--alternate-p-text-color);
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        margin-block-end: 0.5rem;
        margin-inline-end: 0.5rem;

    }

    .header__menu-link:hover {
        text-decoration: underline;
    }

    .header__social-icons {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        margin-right: 20px;
    }

    .header__social-icons-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: -15px;
        margin-right: -7.5px;
        margin-left: -7.5px;
    }

    .header__social-icons-img {
        color: transparent;
        margin: 15px 15px;
        padding: 10px 10px;
    }

}

/* banner */

.header__banner {
    padding-top: 110px;
    padding-bottom: 110px;
    position: relative;
    min-width: 320px;
    line-height: 1.7;
    font-family: PT Sans, sans-serif;
    font-weight: 400;
}

@media (min-width: 992px) {
    .header__banner {
        padding-top: 210px;
        padding-bottom: 210px;
    }
}

.header__banner-inner {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.header__title {
    font-family: 'Bebas Neue', cursive;
    font-size: 3.9rem;
    color: var(--main-text-color);
    font-weight: 400;
    line-height: 1;
}

.header__title_collections {
    color: var(--alternate-text-color);
}

.header__title_dot {
    color: var(--alternate-text-color);
}

.header__subtitle {
    font-size: 1.4rem;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    color: var(--paragraph-text-color);
}

.header__banner-btn {
    margin-top: 50px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    background-color: var(--alternate-text-color);
    width: 164px;
    height: 58px;
}

.header__banner-btn>a {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--alternate-p-text-color);
    padding-left: 0;
    padding-right: 32px;
    margin-left: 20px;
}