.header {
    background: url(../img/background_header.jpg) 38%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 68px;
    min-width: 320px;
}

.header__container {
    max-width: 1200px;
    width: 100%;
    min-width: 320px;
    margin: auto;
}

.header__upperline {
    display: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header__upperline-contacts {
    justify-content: flex-end;
}

.header__upperline-contacts-link {
    text-decoration: none;
    color: var(--alternate-p-text-color);
    margin-left: 12px;
}

.header__upperline-contacts-link:hover {
    text-decoration: underline;
}

@media (min-width: 991px) {
    .header__upperline {
        display: block;
        width: 100%;
        background-color: var(--uperline-background-color);
        min-height: 48px;
    }

    .header__upperline-inner {
        color: var(--alternate-p-text-color);
        padding: 0 40px;
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 0.87rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        max-width: 1200px;
        margin-top: 5px;
    }
}

@media (min-width:320px) and (max-width:991px) {

    body.lock {
        overflow: hidden;
    }

    .navigation-burger {
        display: none;
    }

    .navigation-logo {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        z-index: 10;
    }

    .header__nav-container {
        position: relative;
    }

    .navigation-burger {
        display: block;
        position: absolute;
        top: 34px;
        right: 20px;
        width: 30px;
        height: 20px;
        padding: 9px;
        cursor: pointer;
        z-index: 5;
    }

    .navigation-burger span,
    .navigation-burger::before,
    .navigation-burger::after {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: var(--alternate-p-text-color);
        transition: all 0.5s ease-in-out;
    }

    .navigation-burger span {
        transform: scale(1);
    }

    .navigation-burger::before,
    .navigation-burger::after {
        content: " ";
    }

    .navigation-burger::before {
        top: 0;
    }

    .navigation-burger::after {
        bottom: 0;
    }

    .navigation-burger.active span {
        transform: scale(0);
    }

    .navigation-burger.active::before {
        top: 50%;
        transform: rotate(-45deg);
    }

    .navigation-burger.active::after {
        bottom: 40%;
        transform: rotate(45deg);
    }

    .header__container {
        position: relative;
    }
}

/*
@media (max-width:970px) {

    .navigation-wrapper.active {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-text-color);
        z-index: 2;
        padding: 15px 24px 50px 24px;
        overflow: hidden;
        margin: auto;
    }

    .background-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--main-text-color);
    }

    .header__menu {
        position: relative;
        font-size: 0.9rem;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 100px;
        z-index: 10;
        height: auto;
    }
}
*/
.header__nav {
    background-color: var(--main-text-color);
    width: 100%;
}

.header__nav-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 30px 0px;
    max-width: 1200px;
}

@media (min-width: 992px) {
    .header__nav-container {
        padding: 30px 40px;
    }
}

.header__logo-container {
    width: 168px;
    display: flex;
    justify-content: space-around;
    z-index: 10;
}

#logo {
    width: 168px;
}
