.header {
    background-image: url(../img/background_header.jpg);
}

.header__upperline {
    display: none;

}

@media (min-width: 991px) {
    .header__upperline {
        padding: 8px 40px;
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 0.87rem;
        background-color: var(--uperline-background-color);
        color: var(--alternate-p-text-color);
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        min-height: 48px;
        align-items: center;
        margin-left: -15px;
        margin-right: -15px;
    }
}

.header__upperline-box {
    display: flex;
    justify-content: space-between;
}

.header__upperline-contacts {
    justify-content: flex-end;
}

.header__logo-container {
    width: 174px;
    height: 72px;
}

.header__social-icons {
    width: 30px;
    height: 30px;
    display: flex;
}

.header__social-icons-list {
    display: flex;
}

.header__nav {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: var(--main-text-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header__upperline-contacts-link {
    text-decoration: none;
    color: var(--alternate-p-text-color);
    margin-left: 12px;
}


.header__upperline-contacts-link:hover {
    text-decoration: underline;
}

#logo {
    width: 154px;
    height: 36px;
}

.header__menu {
    display: flex;
    align-items: flex-start;
}

.header__menu-link {
    text-decoration: none;
    color: var(--alternate-p-text-color);
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.header__menu-link:hover {
    text-decoration: underline;
}

.header__banner {
    padding-top: 210px;
    padding-bottom: 210px;
}

.header__banner-inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__title {
    font-family: 'Bebas Neue', cursive;
    font-size: 7.75rem;
    color: var(--main-text-color);
}

.header__title_collections {
    color: var(--alternate-text-color);
}

.header__title_dot {
    color: var(--alternate-text-color);
}

.header__subtitle {
    font-size: 1.5rem;
    color: var(--paragraph-text-color);
}