.mid_season_sale {
    display: flex;
    flex-direction: row;
  }
  .money_sale {
    color: red;
  }
  .header-nav__menu-item clock {
    size: 50px;
  }
  .sale-head-h2 {
    color: #222323;
    font-size: 38px;
    text-align: center;
    font-family:  Bebas Neue,cursive;
  }
  .red-point-sale {
    color: #f40106;
    font-size: 38px;
  }
  .sale-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 90px;
  }
  .sale-line-center {
    height: 2px;
    background: #e0e0e0;
    max-width: 50.23px;
    margin: 15px auto;
    padding-top: 0px;
  }
  .sale-center-text {
    font-size: 20px;
    font-family: PT Sans,sans-serif;
    color: #717474;
    margin: 20px;
    text-align: center;
  }
  .line-up-title {
    margin-left: 10%;
    margin-right: 10%;
  }
  .text-product {
    color: rgb(113, 116, 116);
    font-size: 18px;
    text-align: left;
  }
  .image-product-sale {
    margin-bottom: 20px;
  }
  .sale-product-bay {
    margin: 20px;
  }
  .sale-bottom {
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 20px;
    height: 35px;
    text-align: center;
  }