.sale-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sale-product-title {
  color: #f40106;
  font-family: PT Sans,sans-serif;
  font-size: 16px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 250px;
}
.sale-product-image {
  display: flex;
  justify-content: end;
  width: 50%;
  padding-right: 150px;
}
.sale-product-information {
  width: 35%;
  padding-right: 100px;
}
.sale-product-information-tittle {
  color: #61a854;
  font-size: 16px;
  font-family: PT Sans,sans-serif;
}
.sale-product-information-name {
  color: #222323;
  font-size: 23px;
  font-family: Bebas Neue,cursive;
}
.sale-product-information-code {
  color: #222323;
  font-size: 14px;
  font-family: PT Sans,sans-serif;
  margin: 8px 0px 0px;
}
.sale-product-information-price {
  color: #717474;
  font-size: 20px;
  font-family: PT Sans,sans-serif;
  margin-top: 35px;
}
.sale-product-information-line {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 20px;
  border-bottom: 1px solid #edf0f5;
}
.sale-product-information-counter {
  width: 15%;
  height: 40px;
}
.sale-product-information-button {
  width: 80%;
  height: 40px;
  background-color: red;
}
.sale-product-information-discription {
  color: #717474;
  font-size: 16px;
  font-family: PT Sans,sans-serif;
  margin-top: 60px;
}
.sale-product-information-line-discription {
  border-bottom: 1px solid #edf0f5;
}
.sale-product-information-text {
  color: #717474;
  font-size: 16px;
  font-family: PT Sans,sans-serif;
  margin-top: 25px;
}
.sale-product-image-mini {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 150px;
  margin-left: 250px;
}
