.sale-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sale-product-title {
  color: #f40106;
  font-family: PT Sans,sans-serif;
  size: 16px;
  width: 100%;
}
.sale-product-image {
  display: flex;
  justify-content: end;
  width: 50%;
  padding-right: 150px;
}
.sale-product-information {
  width: 45%;
}
.sale-product-information-tittle {
  color: #61a854;
  size: 16px;
  font-family: PT Sans,sans-serif;
}
.sale-product-information-name {
  color: #222323;
  size: 23px;
  font: Bebas Neue,cursive;
}
.sale-product-information-code {
  color: #222323;
  size: 14px;
  font-family:  Bebas Neue,cursive;
};
