.divider-component {
  margin: 0 auto;
  height: 2px;
  width: 8%;
  background-color: var(--paragraph-text-color-accent-light);
}
.why-title {
  color: var(--main-text-color);
  font-size: 38px;
  line-height: 43px;
  text-align: center;
}
.why-subtitle {
  color: var(--paragraph-text-color);
  font-family: "PT Sans", sans-serif;

  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.why-categories-item {
  border: 1px solid rgba(33, 39, 54, 0.2);
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 560px) {
  .why-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
}

@media (min-width: 660px) {
  .why-categories {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 960px) {
  .why-categories {
    grid-template-columns: repeat(4, 1fr);
  }
}
.wrapper-why-choose-us {
  max-width: 1000px;
  margin: 0 auto;
}
.why-categories-item-title {
  color: var(--main-text-color);
  font-size: 22px;
  line-height: 30px;
}
.why-categories-item-description {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 27px;
  font-family: "PT Sans", sans-serif;
}
.red-dot {
  color: var(--alternate-text-color);
}
